@import url("https://fonts.googleapis.com/css?family=Montserrat");

.content, .main-panel {
    font-family: 'Montserrat', sans-serif;
    overflow-y: hidden;
}

.charts {
    text-align: center !important;
}