@import url("https://fonts.googleapis.com/css?family=Montserrat");

.content {
    font-family: 'Montserrat', sans-serif;
    padding-left: 17.5%;
    overflow-y: hidden;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}