
<div class="logo">
    <div style="margin-left: 24%">
        <a href="" class="simple-text logo-mini">
            <div class="logo-img" >
                <img src="./assets/img/wma.png"/>
            </div>
          </a>
          <a href="" class="simple-text logo-normal">
              <strong>WMA</strong>
          </a>
    </div>
</div>
<div class="sidebar-wrapper" style="overflow: hidden !important">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a [routerLink]="[menuItem.path]">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>

        <li class="nav-item" style="">
            <a href="#" (click)="signOut()">
                <i class="fas fa-sign-out-alt"></i>
                <p>Sign Out</p>
            </a>
        </li>
    </ul>
</div>
